## Programa Ingenias+ Data Science

## Trabajando con Pandas

1) Importa las librerias requeridas: `Pandas` y `NumPy`.  

Una buena practica a la hora de escribir codigo es de comentar siempre que estoy haciendo (usando `#`) en la linea anterior. Por mas obvio que parezca lo que voy a hacer, puede ser que tenga que compartir el documento con otras personas y no sepan que quise hacer en cada linea. O que yo mismo lea el codigo tiempo despues y no recuerde porque lo hice.

In [4]:
# Install a pip package in the current Jupyter kernel
#numpy
import sys
!{sys.executable} -m pip install numpy

Requirement already satisfied: numpy in c:\users\ronao\anaconda3\lib\site-packages (1.24.3)

In [5]:
# Install a pip package in the current Jupyter kernel
#pandas
import sys
!{sys.executable} -m pip install pandas

Requirement already satisfied: pandas in c:\users\ronao\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\ronao\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\ronao\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in c:\users\ronao\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\ronao\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [6]:
#importa numpy
import numpy as np
#importa pandas
import pandas as pd

2) Lee el archivo csv `life_expectancy_data` usando `pandas`. Guardalo en una variable llamada `expvida`.

In [98]:
# Leo los datos en un DataFrame
expvida = pd.read_csv('life_expectancy_data.csv', sep=',')
expvida

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.00,263.00,62,0.01,71.28,65.00,1154,...,6.00,8.16,65.00,0.10,584.26,"33,736,494.00",17.20,17.30,0.48,10.10
1,Afghanistan,2014,Developing,59.90,271.00,64,0.01,73.52,62.00,492,...,58.00,8.18,62.00,0.10,612.70,"327,582.00",17.50,17.50,0.48,10.00
2,Afghanistan,2013,Developing,59.90,268.00,66,0.01,73.22,64.00,430,...,62.00,8.13,64.00,0.10,631.74,"31,731,688.00",17.70,17.70,0.47,9.90
3,Afghanistan,2012,Developing,59.50,272.00,69,0.01,78.18,67.00,2787,...,67.00,8.52,67.00,0.10,669.96,"3,696,958.00",17.90,18.00,0.46,9.80
4,Afghanistan,2011,Developing,59.20,275.00,71,0.01,7.10,68.00,3013,...,68.00,7.87,68.00,0.10,63.54,"2,978,599.00",18.20,18.20,0.45,9.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,Zimbabwe,2004,Developing,44.30,723.00,27,4.36,0.00,68.00,31,...,67.00,7.13,65.00,33.60,454.37,"12,777,511.00",9.40,9.40,0.41,9.20
2934,Zimbabwe,2003,Developing,44.50,715.00,26,4.06,0.00,7.00,998,...,7.00,6.52,68.00,36.70,453.35,"12,633,897.00",9.80,9.90,0.42,9.50
2935,Zimbabwe,2002,Developing,44.80,73.00,25,4.43,0.00,73.00,304,...,73.00,6.53,71.00,39.80,57.35,"125,525.00",1.20,1.30,0.43,10.00
2936,Zimbabwe,2001,Developing,45.30,686.00,25,1.72,0.00,76.00,529,...,76.00,6.16,75.00,42.10,548.59,"12,366,165.00",1.60,1.70,0.43,9.80
2937,Zimbabwe,2000,Developing,46.00,665.00,24,1.68,0.00,79.00,1483,...,78.00,7.10,78.00,43.50,547.36,"12,222,251.00",11.00,11.20,0.43,9.80

3) ¿Que tipo de estructura de datos contiene la variable `expvida`?

In [8]:
# Obtengo el tipo de estructura de datos
type(expvida)

pandas.core.frame.DataFrame

4) ¿Cuantas filas y columnas tiene `expvida`?

In [10]:
# Uso .shape para obtener cantidad de filas y columnas
expvida.shape

(2938, 22)

**Numero de filas**: 2.938

**Numero de columnas**: 22

5) ¿Cual es el nombre de las columnas contenidas en `expvida`?

In [102]:
# Obtengo el nombre de las columnas
expvida.columns

Index(['Country', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')

6) Inspecciona las primeras 10 filas de `expvida`

In [12]:
# Inspecciono las primeras filas
expvida.head(10)

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
5,Afghanistan,2010,Developing,58.8,279.0,74,0.01,79.679367,66.0,1989,...,66.0,9.20,66.0,0.1,553.328940,2883167.0,18.4,18.4,0.448,9.2
6,Afghanistan,2009,Developing,58.6,281.0,77,0.01,56.762217,63.0,2861,...,63.0,9.42,63.0,0.1,445.893298,284331.0,18.6,18.7,0.434,8.9
7,Afghanistan,2008,Developing,58.1,287.0,80,0.03,25.873925,64.0,1599,...,64.0,8.33,64.0,0.1,373.361116,2729431.0,18.8,18.9,0.433,8.7
8,Afghanistan,2007,Developing,57.5,295.0,82,0.02,10.910156,63.0,1141,...,63.0,6.73,63.0,0.1,369.835796,26616792.0,19.0,19.1,0.415,8.4
9,Afghanistan,2006,Developing,57.3,295.0,84,0.03,17.171518,64.0,1990,...,58.0,7.43,58.0,0.1,272.563770,2589345.0,19.2,19.3,0.405,8.1

7) Y ahora las 10 ultimas.

In [13]:
# Inspecciono las ultimas filas
expvida.tail(10)

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
2928,Zimbabwe,2009,Developing,50.0,587.0,30,4.64,1.040021,73.0,853,...,69.0,6.26,73.0,18.1,65.824121,1381599.0,7.5,7.4,0.419,9.9
2929,Zimbabwe,2008,Developing,48.2,632.0,30,3.56,20.843429,75.0,0,...,75.0,4.96,75.0,20.5,325.678573,13558469.0,7.8,7.8,0.421,9.7
2930,Zimbabwe,2007,Developing,46.6,67.0,29,3.88,29.814566,72.0,242,...,73.0,4.47,73.0,23.7,396.998217,1332999.0,8.2,8.2,0.414,9.6
2931,Zimbabwe,2006,Developing,45.4,7.0,28,4.57,34.262169,68.0,212,...,71.0,5.12,7.0,26.8,414.796232,13124267.0,8.6,8.6,0.408,9.5
2932,Zimbabwe,2005,Developing,44.6,717.0,28,4.14,8.717409,65.0,420,...,69.0,6.44,68.0,30.3,444.765750,129432.0,9.0,9.0,0.406,9.3
2933,Zimbabwe,2004,Developing,44.3,723.0,27,4.36,0.000000,68.0,31,...,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,Zimbabwe,2003,Developing,44.5,715.0,26,4.06,0.000000,7.0,998,...,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,Zimbabwe,2002,Developing,44.8,73.0,25,4.43,0.000000,73.0,304,...,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2936,Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.000000,76.0,529,...,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,79.0,1483,...,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

8) ¿Que tipos de datos contiene cada una de las columnas de `expvida`?

In [103]:
# Tipo de datos en cada columna
expvida.dtypes

Country                             object
Year                                 int64
Status                              object
Life expectancy                    float64
Adult Mortality                    float64
infant deaths                        int64
Alcohol                            float64
percentage expenditure             float64
Hepatitis B                        float64
Measles                              int64
 BMI                               float64
under-five deaths                    int64
Polio                              float64
Total expenditure                  float64
Diphtheria                         float64
 HIV/AIDS                          float64
GDP                                float64
Population                         float64
 thinness  1-19 years              float64
 thinness 5-9 years                float64
Income composition of resources    float64
Schooling                          float64
dtype: object

9) ¿Hay valores faltantes en alguna de las columnas de `expvida`?

In [18]:
# Obtengo la cantidad de datos faltantes en cada columna
expvida.isnull().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                     10
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        553
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
 HIV/AIDS                            0
GDP                                448
Population                         652
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

10) Selecciona el maximo de datos faltantes. Calcula que porcentaje de los datos representan los datos faltantes.

In [66]:
# Obtengo el maximo valor de datos faltantes y lo guardo en la variable masnan
cant_nan=expvida.isnull().sum()
masnan=cant_nan.max()
masnan

652

In [67]:
# Obtengo la cantidad de filas total y divido el maximo valor de datos faltantes por este numero
# y lo multiplico por 100
total_nan=cant_nan.sum()
total_nan

2563

In [90]:
# Imprimo el maximo porcentaje de datos faltantes. Uso f-strings.
max_porc_nan=(masnan*100//total_nan)
print(max_porc_nan)
print(f'El maximo porcentaje de datos faltantes es de: {masnan*100//total_nan:.1f}%')

25
El maximo porcentaje de datos faltantes es de: 25.0%

- str.format()
- Template Class
- f-strings

#### Ahora vamos a realizar algunos calculos y manipulaciones sobre las columnas.

Una función útil para este fin es: `.rename()`. Y podemos utilizarla de la siguiente manera: Si `df` es mi DataFrame y quiero renombrar la columna `columna` como `columna1`, y la columna `columna2` como `columna3`, utilizo la siguiente sintaxis:
  
`df.rename(columns={"columna": "columna1", "columna2": "columna3"}, inplace=True)`

11) Renombra la columna 'Life expectancy ' como 'life_expectancy', ' BMI ' como 'bmi' y ''Measles ' como 'measles'. No olvides de usar `inplace` para modificar el DataFrame original. Luego chequea que el cambio se haya hecho correctamente.

In [110]:
# Renombro columnas del DataFrame
expvida.rename(columns={"Life expectancy ": "life_expectancy", " BMI ": "bmi", "Measles ": "measles"}, inplace=True)

In [133]:
# Chequeo que se hayan reemplazado correctamente
expvida.columns

Index(['Country', 'Year', 'Status', 'life_expectancy', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'measles', 'bmi', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')

12) ¿Cual es el promedio de expectativa de vida (Life expectancy) en general?

In [42]:
# Obtengo el promedio de la columna
expvida['Life expectancy '].mean()

69.22493169398908

13) ¿Cual es el promedio de expectativa de vida (Life expectancy) por país?

In [ ]:
# Obtengo el promedio por pais
expvida.groupby(by='Country', dropna=False).mean()

14) ¿Cual es la expectativa de vida mas alta y mas baja? Usa la funcion de pandas y la funcion de NumPy y compara el resultado. ¿Que paises tienen esas expectativas de vida?

In [201]:
# Maxima expectativa de vida usando numpy
np.max(expvida, axis=0)

Country                                   Zimbabwe
Year                                          2015
Status                                  Developing
life_expectancy                              89.00
Adult Mortality                             723.00
infant deaths                                 1800
Alcohol                                      17.87
percentage expenditure                   19,479.91
Hepatitis B                                  99.00
measles                                     212183
bmi                                          87.30
under-five deaths                             2500
Polio                                        99.00
Total expenditure                            17.60
Diphtheria                                   99.00
 HIV/AIDS                                    50.60
GDP                                     119,172.74
Population                        1,293,859,294.00
 thinness  1-19 years                        27.70
 thinness 5-9 years                          28.60
Income composition of resources               0.95
Schooling                                    20.70
dtype: object

In [155]:
# Maxima expectativa de vida usando pandas
expvida['life_expectancy'].max()

89.0

In [200]:
# Minima expectativa de vida usando numpy
np.min(expvida, axis=0)

Country                            Afghanistan
Year                                      2000
Status                               Developed
life_expectancy                          36.30
Adult Mortality                           1.00
infant deaths                                0
Alcohol                                   0.01
percentage expenditure                    0.00
Hepatitis B                               1.00
measles                                      0
bmi                                       1.00
under-five deaths                            0
Polio                                     3.00
Total expenditure                         0.37
Diphtheria                                2.00
 HIV/AIDS                                 0.10
GDP                                       1.68
Population                               34.00
 thinness  1-19 years                     0.10
 thinness 5-9 years                       0.10
Income composition of resources           0.00
Schooling                                 0.00
dtype: object

In [152]:
# Minima expectativa de vida usando pandas
expvida['life_expectancy'].min()

36.3

In [170]:
# Muestro los resultados maximos
max_expvida_pandas=expvida['life_expectancy'].max() 
print(f'La máxima expectativa de vida es de{max_expvida_pandas: .1f} años.')

La máxima expectativa de vida es de 89.0 años.

In [169]:
# Muestro los resultados minimos
min_expvida_pandas=expvida['life_expectancy'].min() 
print(f'La mínima expectativa de vida es de{min_expvida_pandas: .1f} años.')

La mínima expectativa de vida es de 36.3 años.

In [172]:
# Filtro las columnas para mostrar solo las filas que tengan valor
# igual al maximo
expvida.loc[(expvida['life_expectancy']==max_expvida_pandas)]

,Country,Year,Status,life_expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
241,Belgium,2014,Developed,89.00,76.00,0,12.60,"7,163.35",98.00,70,...,99.00,1.59,99.00,0.10,"47,439.40","112,957.00",1.00,1.00,0.89,16.30
915,Finland,2014,Developing,89.00,78.00,0,8.80,"6,164.46",NaN,0,...,98.00,9.68,98.00,0.10,"49,914.62","5,461,512.00",0.90,0.80,0.89,17.00
937,France,2008,Developing,89.00,88.00,3,11.90,"7,002.79",47.00,604,...,98.00,1.57,98.00,0.10,"45,413.66","6,437,499.00",0.60,0.60,0.88,16.10
938,France,2007,Developing,89.00,89.00,3,12.20,64.74,42.00,39,...,99.00,1.45,98.00,0.10,416.58,"6,416,229.00",0.60,0.60,0.87,16.10
995,Germany,2014,Developed,89.00,69.00,2,11.03,941.76,88.00,443,...,94.00,11.30,95.00,0.10,"4,792.65","89,825.00",1.10,1.10,0.92,17.00
1293,Italy,2004,Developed,89.00,66.00,2,8.98,"4,270.91",96.00,599,...,97.00,8.49,94.00,0.10,"31,174.56","57,685,327.00",0.50,0.50,0.85,15.60
1850,New Zealand,2010,Developed,89.00,71.00,0,9.62,"6,664.15",9.00,43,...,93.00,11.20,93.00,0.10,"33,691.35",NaN,0.30,0.30,0.90,20.30
1916,Norway,2009,Developed,89.00,67.00,0,6.68,142.37,NaN,2,...,94.00,9.49,94.00,0.10,817.78,"4,828,726.00",0.70,0.70,0.94,17.40
2056,Portugal,2014,Developed,89.00,78.00,0,9.88,271.25,98.00,0,...,98.00,9.50,98.00,0.10,"2,277.54","14,162.00",0.70,0.50,0.84,16.80
2433,Spain,2007,Developed,89.00,72.00,2,11.05,510.93,96.00,267,...,96.00,8.36,96.00,0.10,"3,279.41","4,522,683.00",0.60,0.50,0.85,16.00
2513,Sweden,2007,Developed,89.00,63.00,0,6.90,"7,593.39",NaN,1,...,98.00,8.92,98.00,0.10,"53,324.38","914,892.00",1.30,1.30,0.90,15.80

In [173]:
# Filtro las columnas para mostrar solo las filas que tengan valor
# igual al minimo
expvida.loc[(expvida['life_expectancy']==min_expvida_pandas)]

,Country,Year,Status,life_expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
1127,Haiti,2010,Developing,36.30,682.00,23,5.76,36.29,NaN,0,...,66.00,8.90,66.00,1.90,662.28,"9,999,617.00",4.00,4.00,0.47,8.60

15) ¿Cuantas categorias encontramos en la columna "Status"? _**Pista**_: Lee acerca de la función [unique()](http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.unique.html?highlight=unique#pandas.Series.unique)

In [174]:
# Obtengo los valores unicos de la columna status
expvida['Status'].unique()
print(expvida['Status'].unique())

['Developing' 'Developed']

16) ¿Cuantos paises se ubican en cada una de esas categorias de "Status"? _**Pista**_: Lee acerca de la función [value_counts()](http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.value_counts.html)

In [176]:
# Cuento cuantos valores hay de cada categoria
expvida.value_counts(['Status'],dropna=False)

Status
Developing    2426
Developed      512
dtype: int64

18) ¿Cuantos paises presentaron algun caso de Sarampion (**Measles**) en el 2015? **_Pista_**: Lee acerca de la función [.count()](http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.count.html?highlight=count#pandas.DataFrame.count)

In [ ]:
# Cuento cuantas filas tienen valores distintos de cero
display(expvida.loc[(expvida['measles']>0) & (expvida['Year']==2015)])

In [ ]:
expvida_paises_saramp=expvida.loc[(expvida['measles']>0) & (expvida['Year']==2015)]
print(expvida_paises_saramp.count())